

<div class="container">
  <div class="row"> <%= render 'shared/error_messages', object: @course %> </div>
  <div class="row course_admin_form form-inline">
  <%= form_for @course, url: {action: "create"} do |f| %>
      <%= f.text_field :currency_sign, class: 'form-control', value: 'USD', readonly: true %>
      <%= f.number_field :rate, value: '0', class: :text_field, step: 0.0001, min: 0.0001, max: 99999.9999 %>
      <div class='input-group date' id='datetimepicker'>
        <%= f.text_field :uptodate, class: 'form-control', value: Time.now %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>

  </div>
  <div class="row rate_history">
    <h2> Rates history</h2>
    <table class="table table-condensed">
      <thead> <tr><th>Currency</th> <th>Rate</th> <th>Time limit</th> </tr> </thead>
      <tbody>
      <% @courses.each do |user| %>
        <tr>
          <td><%= user.currency_sign %></td>
          <td><%= user.rate %></td>
          <td><%= user.uptodate.strftime(CourserController::DATES_FORMAT) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

  <div id="course"></div>
